<header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/logo.svg" />
                
            </div>
            <div class="nav-elements">
                <a class="nav-link" href="#projects">Projects</a>
                <a class="nav-link" href="#workexp">Experience</a>
                <a class="nav-link" href="#education">Education</a>
                <a class="nav-link" href="{{ site.url}}/cv/resume.pdf">Resume</a>

            </div>
        </a>
        
    </div>
</header>