.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    // overflow: hidden;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-link {
    color: white;
}

.nav-elements{
    display: flex;
}

a{
    transition: 0.5s;
}

a:hover, a:focus {
    color: #ffcd69;
    transition: 0.5s;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
}

.nav-logo img {
    width: 150px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}
